.container {
  width: 70%;
  margin: 60px auto;
}

a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-weight: 700;
}

header {
  border-bottom: 1px solid lightgrey;
}

.header_top img {
  vertical-align: middle;
}

.header_top h4 {
  display: inline-block;
}

.header_bottom ul {
  list-style: none;
}

.header_bottom li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
